<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wine</title>
</head>
<body>
  <div id="bg">
    <%= image_tag 'welcome.jpg' %>
  </div>
  <div class="tag">
    <p class="tagheader">wineKnow</p>
    <p>A virtual wine cellar.</p>
    <p>Maintain an online inventory of your wine collection.</p>
  </div>
</body>
</html>
