* {
  margin: 0;
}

body {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
}

.content {
  padding: .5em 1em 0 1em;
}

.content h1 {
  padding-bottom: .4em;
  text-decoration: underline;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

.cellar_photos {
    width: 600px;
    height: 600px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.cellar_photos img {
    width: 100%;
    padding: 5px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
}

.tag {
  color: rgba(255, 255, 249, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tagheader {
  font-weight: bolder;
  padding: 1.2em;
  font-family: 'Kaushan Script', cursive;
  font-size: 6em;
}

ul {
    list-style-type: none;
}

header {
  color: #fff;
  background: rgba(00, 00, 00, 0.7);
  padding: 1em;
  border-bottom: 1px solid #e22d28;
}

a:link:not(.appname) {
  text-decoration: underline;
  color: #e22d28;
}

a:hover:not(.appname) {
  text-decoration: overline;
  color: #e22d28;
}

a:visited:not(.appname) {
  text-decoration: underline;
  color: #e22d28;
}

.delete {
  border: 0;
  padding: 0;
  background: #fff;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  font-size: .7em;
}

.devise {
  text-align: right;
  float: right;
}

.click {
  border: 2px solid black;
  padding: .5em;
}

a:hover.click {
  background: #000000;
}

.appname {
  margin-bottom: .7em;
  color: #fff;
  text-decoration: none;
  font-family: 'Kaushan Script', cursive;
}

#map {
  height: 500px;
}
