/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
}

.cellar_photos {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.cellar_photos img {
    width: 100%;
    padding: 5px;
    order: 0;
    flex-basis: auto;
    align-self: auto;
    flex-grow: 0;
    flex-shrink: 1;
}

ul {
    list-style-type: none;
}

header {
  background: #dcdcdc;
  padding: 1em;
}

.delete {
  border: 0;
  padding: 0;
  background: #fff;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  font-size: .7em;
}

.devise {
  text-align: right;
  float: right;
}
