/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
}

body {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.2em;
  line-height: 1.3em;
}

.content {
  padding: .5em 1em 0 1em;
}

.content h1 {
  padding-bottom: .4em;
  text-decoration: underline;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}

.cellar_photos {
    width: 600px;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.cellar_photos img {
    width: 100%;
    padding: 5px;
    order: 0;
    flex-basis: auto;
    align-self: auto;
    flex-grow: 0;
    flex-shrink: 1;
}

.tag {
  color: rgba(255, 255, 249, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagheader {
  font-weight: bolder;
  padding: 1.2em;
  font-family: 'Kaushan Script', cursive;
  font-size: 6em;
}

ul {
    list-style-type: none;
}

header {
  color: #fff;
  background: rgba(00, 00, 00, 0.7);
  padding: 1em;
  border-bottom: 1px solid #e22d28;
}

a:link:not(.appname) {
  text-decoration: underline;
  color: #e22d28;
}

a:hover:not(.appname) {
  text-decoration: overline;
  color: #e22d28;
}

a:visited:not(.appname) {
  text-decoration: underline;
  color: #e22d28;
}

.delete {
  border: 0;
  padding: 0;
  background: #fff;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
  font-size: .7em;
}

.devise {
  text-align: right;
  float: right;
}

.click {
  border: 2px solid black;
  padding: .5em;
}

a:hover.click {
  background: #000000;
}

.appname {
  margin-bottom: .7em;
  color: #fff;
  text-decoration: none;
  font-family: 'Kaushan Script', cursive;
}

#map {
  height: 500px;
}
